/* Styles for block's body */
.block_supervised .content {
    font-size: 11px;
}
.block_supervised .content .footer {
    font-size: 13px;
}

.block_supervised .content .mform .fdescription.required {
    display: none;
}

.block_supervised .content .mform .fitem .fitemtitle {
    width: auto;
}

.block_supervised .content .mform .fitem .fstatic,
.block_supervised .content .mform .fitem .fselect,
.block_supervised .content .mform .fitem .fsubmit,
.block_supervised .content .mform .fitem .fgroup,
.block_supervised .content .mform .fitem .flink,
.block_supervised .content .mform .fitem .ftext {
    margin-left: 0;
    width: auto;
}

.block_supervised .content .mform .fitem .flink {
    font-size: 13px;
}

/* Styles for view sessions page */
#supervisedblock_selectcourseform {
    text-align: center;
    width: 100%;
}