#page-mod-poasassignment-view #dates table {margin: 0 auto;}
#page-mod-poasassignment-view #dates table td {border: 1px solid #ddd;}
#page-mod-poasassignment-view #dates .c0 {text-align:right; font-weight:bold; background: #f6f6f6;}
#page-mod-poasassignment-view #dates .c1 {}
#page-mod-poasassignment-view #dates {
	margin: 1em auto;
	border: none;
}