/*.que.shortanswer .answer {
    padding: 0.3em;
    width: auto;
    display: inline;
}
.que.shortanswer .answer input {
    width: 80%;
}*/

/* Editing form. */
body#page-question-type-preg div[id^=fitem_id_][id*=answer_] .fitemtitle label{
    font-weight: bold;
}

body#page-question-type-preg div[id^=fitem_id_][id*=answer_] {
    background: #EEE;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-bottom: 0;
}

body#page-question-type-preg div[id^=fitem_id_][id*=fraction_] {
    background: #EEE;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-top: 0;
    border-bottom: 0;
}

body#page-question-type-preg div[id^=fitem_id_][id*=feedback_] {
    background: #EEE;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #BBB;
    border-top: 0;
}

body#page-question-type-preg #id_regex_highlighter {
    position: absolute;
    word-break: break-all;
    overflow: hidden;
    color: transparent;
}

body#page-question-type-preg #id_regex_highlighter span {
    margin: 0;
    padding: 0;
    word-wrap: normal;
    display: inline-block;
    color: transparent;
}

body#page-question-type-preg #id_regex_text {
    position:relative;
    background-color: transparent;
}
